*{
  margin : 0;
  padding: 0;
}

body {
  background-color: #1c2833;
}
.upper-container{
    display : flex;
    justify-content: space-between;

}

.lower-container{
  /* display : flex;
  justify-content: space-around; */
}


.card {
  margin: 10px;
  padding: 10px;
  width: 17rem;
  margin-left: auto;
  margin-right: auto;
}

.orange {
  background-color: #ffcb8e;
}

.red {
  background-color: #ff414d;
}

.green {
  background-color: #99f3bd;
}

.blue {
  background-color: #2ec1ac;
}

.dropdown{
    width : 17rem;
    height: 35px;
    border-radius: 5px;
    margin-right: 10px;
}

footer{
  background-color: black;
  color: #cf7500; 

}
.footer-icons{
 color: #cf7500; 
}